Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/ModSci_Engineer
Content/ModSci_EngiProps
Content/ModSciInteriors
Content/StarterBundle
Content/SpaceshipInterior